
.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.bg {
  z-index: -1;
  filter: blur(20px);
  width: 100%;
  height: 100%;
}
