.tag {
  display: inline-block;
  background: rgb(240, 128, 128);
  box-sizing: border-box;
  margin: 2px;
  border-radius: 2rem;
  padding: 0.25rem .5rem;
  flex: 1 1 auto;
  text-align: center;
  word-break: break-all;
}

input,
textarea {
  padding: 0;
  background: transparent;
  border: none;
  font: inherit;
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: -2px 0px 0px 0px rgba(240, 128, 128, 0.5);
}
